<div class="sidebar">
    <h2>PLM Parfumerie</h2>
    <nav>
      <ul id="parfum-list">
        <li (click)="loadParfumData('parfum1')">Parfum Lavande</li>
        <li (click)="loadParfumData('parfum2')">Parfum Rose</li>
        <li (click)="loadParfumData('parfum3')">Parfum Musc</li>
      </ul>
      <hr>
      <a routerLink="/cost-simulation">Simulation des Coûts</a>
      <a routerLink="/compliance-management">Conformité</a>
      <a routerLink="/collaboration">Collaboration</a>
    </nav>
  </div>
  
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  